= render 'templates/search-header'

.user-menu
  .user-menu__level
    test

  .user-menu__main

    .user-menu__main__list
      %ul.user-menu__main__list__mypage
        %li
          = render "list", code:101 ,name:"マイページ"
        %li
          = render "list", code:102 ,name:"お知らせ"
        %li
          = render "list", code:103 ,name:"やることリスト"
        %li
          = render "list", code:103 ,name:"いいね！一覧"
        %li
          = render "list", code:103 ,name:"出品する"
        %li
          = render "list", code:103 ,name:"下書き一覧"
        %li
          = render "list", code:103 ,name:"出品した商品-出品中"
        %li
          = render "list", code:103 ,name:"出品した商品-取引中"
        %li
          = render "list", code:103 ,name:"出品した商品-売却済み"
        %li
          = render "list", code:103 ,name:"購入した商品-取引中"
        %li
          = render "list", code:103 ,name:"購入した商品-過去の取引"
        %li
          = render "list", code:103 ,name:"ニュース一覧"
        %li
          = render "list", code:103 ,name:"評価一覧"
        %li
          = render "list", code:103 ,name:"ガイド"
        %li
          = render "list", code:103 ,name:"お問い合わせ"

      %ul.user-menu__main__list__furipay
        フリペイ
        %li
          = render "list", code:201 ,name:"売り上げ・振込申請"
        %li
          = render "list", code:202 ,name:"ポイント"

      %ul.user-menu__main__list__setting
        設定
        %li
          = render "list", code:301 ,name:"プロフィール"
        %li
          = render "list", code:301 ,name:"発送元・お届け先住所変更"
        %li
          = render "list", code:301 ,name:"支払い方法"
        %li
          = render "list", code:301 ,name:"メール/パスワード"
        %li
          = render "list", code:301 ,name:"本人情報"
        %li
          = render "list", code:301 ,name:"電話番号の確認"
        %li
          = render "list", code:301 ,name:"ログアウト"

    .user-menu__main__contents

      //マイページ
      .user-menu__main__contents__mypage
        .user-menu__main__contents__mypage__user
          .user-menu__main__contents__mypage__user__info
            出品者

        .user-menu__main__contents__mypage--tab 
          .user-menu__main__contents__mypage--tab__li
            お知らせ
          .user-menu__main__contents__mypage--tab__li.non-selected
            やることリスト
        .user-menu__main__contents__mypage__messages
          = render 'message', code:301 

      //お知らせ
      .user-menu__main__contents__notice
        .user-menu__main__contents__mypage--tab 


