
.down-footer
  .down-footer__download
    = image_tag "footer/download/footer-pict.jpg", class:"down-footer__download__image"

    .down-footer__download__content
      .down-footer__download__content__title
        誰でもかんたん、人生を変えるフリマアプリ
      %p.down-footer__download__content__subtitle
        今すぐ無料ダウンロード！
      .down-footer__download__content__icons
        = image_tag "main/visual/apple_logo.svg", size:"180x60", class:"down-footer__download__content__icons__apple"
        = image_tag "main/visual/google-play-badge.png", size:"230x90", class:"down-footer__download__content__icons__goo"

  .down-footer__reference
    .down-footer__reference__contents
      .down-footer__reference__contents__about
        .down-footer__reference__contents__about__title
          FURIMAについて
        %ul
          %li
            = link_to "会社概要（運営会社）", '#', class: 'down-footer__reference__contents__about--link'
          %li
            = link_to "プライバシーポリシー", '#', class: 'down-footer__reference__contents__about--link'
          %li
            = link_to "FURIMA利用規約", '#', class: 'down-footer__reference__contents__about--link'
          %li
            = link_to "ポイントに関する特約", '#', class: 'down-footer__reference__contents__about--link'

      .down-footer__reference__contents__lists
        .down-footer__reference__contents__lists__title
          FURIMAを見る
        %ul
          %li
            = link_to "カテゴリ一覧", '#', class: 'down-footer__reference__contents__lists--link'
          %li
            = link_to "ブランド一覧", '#', class: 'down-footer__reference__contents__lists--link'
            
      .down-footer__reference__contents__help
        .down-footer__reference__contents__help__title
          ヘルプ＆ガイド
        %ul
          %li
            = link_to "FURIMAガイド", '#', class: 'down-footer__reference__contents__help--link'      
          %li
            = link_to "FURIMAロゴ利用ガイドライン", '#', class: 'down-footer__reference__contents__help--link' 
          %li
            = link_to "お知らせ", '#', class: 'down-footer__reference__contents__help--link'    

    .down-footer__reference__logo
      .down-footer__reference__logo--wrap
        .down-footer__reference__logo__icon
          = image_tag "footer/reference/logo-white.png", size:"160x50", class:"down-footer__reference__logo__icon__image"
        @ FURIMA