.search-header
  .search-header__upper
    .search-header__upper__logo
      = image_tag "header/logo.png", size:"140x40", class:"search-header__upper__logo__image"
    .search-header__upper__form 
      = form_with url:'#', class:"search-header__upper__form__field"   do |form|
        .search-header__upper__form__field__input
          = form.text_field :keyword,placeholder:" キーワードから探す", class: 'search-header__upper__form__field__input__content'
        .search-header__upper__form__field__search
          %label
            .search-header__upper__form__field__search__box
              = image_tag "header/icon-search.png", size:"20x20",class:"search-header__upper__form__field__search__box__icon"
            = form.submit '%', class:"search-header__upper__form__field__search__btn"

  .search-header__lower
    .search-header__lower__products
      .search-header__lower__products__categories
        カテゴリー
      .search-header__lower__products__brand
        ブランド
    .search-header__lower__user
      - if user_signed_in?
        .search-header__lower__user__login
          = link_to 'ログアウト', destroy_user_session_path, method: :delete
        .search-header__lower__user__registration
          = link_to 'マイページ', user_menu_index_path
      - else
        .search-header__lower__user__login
          = link_to 'ログイン', new_user_session_path
        .search-header__lower__user__registration
          = link_to '新規登録', new_user_registration_path