.search-header
  .search-header__upper
    .search-header__upper__logo
      = link_to root_path do
        = image_tag "header/logo.png", size:"140x40", class:"search-header__upper__logo__image"
    .search-header__upper__form 
      = form_with url:'#', class:"search-header__upper__form__field"   do |form|
        .search-header__upper__form__field__input
          = form.text_field :keyword,placeholder:" キーワードから探す", class: 'search-header__upper__form__field__input__content'
        .search-header__upper__form__field__search
          %label
            .search-header__upper__form__field__search__box
              = image_tag "header/icon-search.png", size:"20x20",class:"search-header__upper__form__field__search__box__icon"
            = form.submit '%', class:"search-header__upper__form__field__search__btn"

  .search-header__lower
    .search-header__lower__products
      .search-header__lower__products__categories
        .search-header__lower__products__categories__title
          カテゴリー
        .search-header__lower__products__categories__lists
          .search-header__lower__products__categories__lists--lv1
            - categories.each do |category1|
              .search-header__lower__products__categories__lists--lv1__content
                = link_to category1.name, products_path(id: category1.id,all_view:'false'), class:"search-header__lower__products__categories__lists--lv1__content--link"
                .search-header__lower__products__categories__lists--lv1__content--lv2
                  - category1.children.each do |category2|
                    .search-header__lower__products__categories__lists--lv1__content--lv2__content
                      = link_to category2.name, products_path(id: category2.id,all_view:'false'), class:"search-header__lower__products__categories__lists--lv1__content--lv2__content--link"
                      .search-header__lower__products__categories__lists--lv1__content--lv2__content--lv3
                        - category2.children.each do |category3|
                          .search-header__lower__products__categories__lists--lv1__content--lv2__content--lv3__content
                            = link_to category3.name, products_path(id: category3.id,all_view:'false'), class:"search-header__lower__products__categories__lists--lv1__content--lv2__content--lv3__content--link"
               
      .search-header__lower__products__brand
        ブランド
    .search-header__lower__user
      - if user_signed_in?
        .search-header__lower__user__registration
          = link_to 'マイページ', user_menu_path(101), name:'マイページ'
      - else
        .search-header__lower__user__login
          = link_to 'ログイン', new_user_session_path
        .search-header__lower__user__registration
          = link_to '新規登録', new_user_registration_path