= render 'templates/search-header', categories: @categories

.user-menu
  .user-menu__level
    %span 
      = link_to 'フリマ', root_path 
    %span 
      ＞ 
    - case @code
    - when '101'
      %span マイページ
    - else 
      = link_to 'マイページ', user_menu_path(id: "101",  name: "マイページ")
      %span 
        = " ＞ #{@name}"

  .user-menu__main

    -# ユーザーメニューのサイドバー
    = render 'templates/usermenu-sidebar'

    -# ユーザーメニューのコンテンツ部分
    .user-menu__main__contents
      .card-new__title クレジットカード情報入力
      = form_tag(card_index_path, method: :post, id: 'charge-form',  name: "inputForm") do
        %label{class: "card-new__number"}
          .card-new__number__text カード番号
          .card-new__number__alert.card-alert 必須
        = text_field_tag "number", "", class: "number", placeholder: "半角数字のみ" ,maxlength: "16", type: "text", id: "card_number"
        %br
        %label{class: "card-new__period"}
          .card-new__period__text 有効期限
          .card-new__period__alert.card-alert 必須
        .card-new__time
          %select#exp_month{name: "exp_month", type: "text", class: "card-new__month"}
            %option{value: ""} --
            %option{value: "1"}01
            %option{value: "2"}02
            %option{value: "3"}03
            %option{value: "4"}04
            %option{value: "5"}05
            %option{value: "6"}06
            %option{value: "7"}07
            %option{value: "8"}08
            %option{value: "9"}09
            %option{value: "10"}10
            %option{value: "11"}11
            %option{value: "12"}12
          %span 月/
          %select#exp_year{name: "exp_year", type: "text", class: "card-new__year"}
            %option{value: ""} --
            %option{value: "2019"}19
            %option{value: "2020"}20
            %option{value: "2021"}21
            %option{value: "2022"}22
            %option{value: "2023"}23
            %option{value: "2024"}24
            %option{value: "2025"}25
            %option{value: "2026"}26
            %option{value: "2027"}27
            %option{value: "2028"}28
            %option{value: "2029"}29
          %span 年
        %br
        %label{class: "card-new__security"} 
          .card-new__security__text セキュリティコード
          .card-new__security__alert.card-alert 必須
        = text_field_tag "cvc", "", class: "cvc", placeholder: "カード背面3~4桁の番号", maxlength: "4", id: "cvc"
        #card_token
        = submit_tag "追加する", id: "token_submit"