= render 'templates/search-header', categories: @categories
= render 'product-level', level: @level, category: @category
.detail
  = render 'templates/exhibition-btn'
  .detail__wrapper
    .detail__wrapper__product
      .detail__wrapper__product__name
        = @product.name
      .detail__wrapper__product__picts
        .detail__wrapper__product__picts__main
          = image_tag @product.pictures[0].image.url, size: "600x400"
        %ul.detail__wrapper__product__picts__subs
        - @product.pictures.each do |image|
          %li.detail__wrapper__product__picts__subs__li
            = image_tag image.image.url, size: "140x140", class:"detail__wrapper__product__picts__subs__li"
      .detail__wrapper__product__price
        = @product.price
      円(税込)送料込み
      .detail__wrapper__product__text
        = @product.text

      %table.detail__wrapper__product__info{border: "1"}
        %tr
          %th 出品者
          %td 
            = @product.user.nickname
        %tr
          %th カテゴリー
          %td 
            .detail__wrapper__product__info_category
              = @product.category.parent.parent.name
            .detail__wrapper__product__info_category
              = @product.category.parent.name
            .detail__wrapper__product__info_category
              = @product.category.name
              
        %tr
          %th ブランド
          %td
            = @product.brand
        %tr
          %th 商品のサイズ
          %td
            = @product.size.text
        %tr
          %th 商品の状態
          %td 
            = @product.status.text
        %tr
          %th 配送料の負担
          %td 
            = @product.postage.text
        %tr
          %th 発送元の地域
          %td 
            = @product.area.name
        %tr
          %th 発送の目安
          %td 
            = @product.shipping_date.text
      .detail__wrapper__product__links
        - if user_signed_in? && current_user.id == @product.user_id
          .detail__wrapper__product__links__edit
            = link_to "商品を編集する", edit_product_path(@product), class: "detail__wrapper__product__links__edit__btn"
          .detail__wrapper__product__links__delete
            = link_to "商品を削除する", product_path(params[:id]), method: :delete, class: "detail__wrapper__product__links__delete__btn"
        - else
          - if @product.purchase == false
            .detail__wrapper__product__links__buy
              = link_to "購入画面に進む", "#", class: "detail__wrapper__product__links__buy__btn"
          - else
            .detail__wrapper__product__links__status
              .detail__wrapper__product__links__status__true
                購入済の商品です

      .detail__wrapper__product__under
        .detail__wrapper__product__under__favorite
          = icon('fas','star')
          お気に入り 0 
        = link_to "#",class:"detail__wrapper__product__under__bad-report" do
          = icon('fab','font-awesome-flag')
          不適切な商品の通報

    .detail__wrapper__comments
      = form_with url:'#', class:"detail__wrapper__comments__form"   do |form|
        = form.text_area :comment, class: 'detail__wrapper__comments__form__comment'
        .detail__wrapper__comments__form__text
          相手のことを考え丁寧なコメントを心がけましょう。
          %br
          不快な言葉遣いなどは利用制限や退会処分となることがあります。
        .detail__wrapper__comments__form__submit
          %label
            = icon('fas','comment')
            コメントする
            = form.submit '%', class:"detail__wrapper__comments__form__submit--btn"
    .detail__wrapper__selecter
      .detail__wrapper__selecter__prev
        = link_to "< 前の商品", "#", class:"detail__wrapper__selecter__prev--link"
      .detail__wrapper__selecter__next
        = link_to "次の商品 >", "#", class:"detail__wrapper__selecter__next--link"

    .detail__wrapper__other-products
      .detail__wrapper__other-products__title
        キッズをもっと見る
      .detail__wrapper__other-products__list
        - @products.each_with_index do |product, n|  
          .detail__wrapper__other-products__list__overview    
            = render 'templates/product-overview', product: product
    
      

= render 'templates/download-footer'